@page "/deleteshipper/{shipperId:int}"
@inject NorthwindCrudApp.IService.IShipperService shipperService
@using NorthwindCrudApp.Data
@inject NavigationManager navigationManager


<h3>Delete Shippers</h3>

<h4>If you want to delete shipper, you can add this page. </h4>
<p>
    <MatTextField @bind-Value="@shippers.CompanyName" Label="CompanyName"></MatTextField>
</p>
<p>
    <MatTextField @bind-Value="@shippers.Phone" Label="Phone"></MatTextField>
</p>
<MatButton OnClick="@Delete">Delete</MatButton>
<MatButton OnClick="@Cancel">Cancel</MatButton>

@code {
    Shippers shippers = new Shippers();

    [Parameter]
    public int shipperId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if(shipperId!=0)
        {
            shippers = await shipperService.GetById(shipperId);
        }
    }

    protected async Task Delete()
    {
        await shipperService.DeleteShipper(shipperId);
         navigationManager.NavigateTo("/shipper");
    }
    void Cancel()
    {
         navigationManager.NavigateTo("/shipper");
    }
}
